* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  -webkit-scroll-behavior:smooth;
    scroll-behavior: smooth;
  }
body { 
    display: grid;
    place-items: center;
    transition: all 1s;
    height: 100vh;
    background:#fff;	
    align-items: center;
	justify-items: start;		
  }
img{width:35px;margin-left:20px;}

.container{
  display:flex;
   position: absolute;
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   line-height: 40px;

}

.text-content, .title-content{
  display:flex;
  margin:0 5px;
  padding:30px 0;
}
.text-content{
  color:#fca120;
}

.text-content:before {
	 content: '[';
	 left: 0;
}
 .text-content:after {
	 content: ']';
	 right: 0;
}

.text-content:after{
	 color: #fca120;
	 font-size: 42px;
	 line-height: 40px;
	 -webkit-animation-name: opacity;
	 -webkit-animation-duration: 2s;
	 -webkit-animation-iteration-count: infinite;
	 animation-name: opacity;
	 animation-duration: 2s;
	 animation-iteration-count: infinite;
}

.text-content:before{
  color: #fca120;
	 font-size: 42px;
	 line-height: 40px;
	 -webkit-animation-name: opacity;
	 -webkit-animation-duration: 2s;
	 -webkit-animation-iteration-count: infinite;
	 animation-name: opacity;
	 animation-duration: 2s;
	 animation-iteration-count: infinite;
}

@-webkit-keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @-webkit-keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
 @-o-keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @-o-keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
 @-moz-keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @-moz-keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
 @keyframes opacity {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 @keyframes change {
	 0%, 12.66%, 100% {
		 transform: translate3d(0, 0, 0);
	}
	 16.66%, 29.32% {
		 transform: translate3d(0, -25%, 0);
	}
	 33.32%, 45.98% {
		 transform: translate3d(0, -50%, 0);
	}
	 49.98%, 62.64% {
		 transform: translate3d(0, -75%, 0);
	}
	 66.64%, 79.3% {
		 transform: translate3d(0, -50%, 0);
	}
	 83.3%, 95.96% {
		 transform: translate3d(0, -25%, 0);
	}
}
 
@media screen and (max-width:515px){
  .container{
	font-size: 13px;
  }
}
